@media screen and (max-width: 768px) {
    .contacts {
        grid-template-columns: 1fr;
        grid-row-gap: 5vh;
        padding: 10vh 10vw;
    }
    .contacts__title {
        text-align: center;
    }
}