div(class="works__gallery")
    div(class="slide-page" data-slide-num="0")
        img(src="https://picsum.photos/300/200?random=1")
        img(src="https://picsum.photos/300/200?random=2")
        img(src="https://picsum.photos/300/200?random=3")
        img(src="https://picsum.photos/300/200?random=4")
        img(src="https://picsum.photos/300/200?random=5")
        img(src="https://picsum.photos/300/200?random=6")
    div(class="slide-page" data-slide-num="1")
        img(src="https://picsum.photos/300/200?random=7")
        img(src="https://picsum.photos/300/200?random=8")
        img(src="https://picsum.photos/300/200?random=9")
        img(src="https://picsum.photos/300/200?random=10")
        img(src="https://picsum.photos/300/200?random=11")
        img(src="https://picsum.photos/300/200?random=12")
    div(class="next") &#10095;
    div(class="prev") &#10094;