div(class="contacts__description")
    h3(class="location") Location
    p(class="location-description") Novosibirsk, Russia
    h3(class="phone") Phone
    p(class="phone-description") +7 000 000 0000
    h3(class="email") Email
    p(class="email-description") koc.melnikov.1985@gmail.com
    h3(class="web") Web
    p(class="web-description") koc.melnikov.com