div(class="contacts__description")
    div(class="table-row")
        h3(class="location") Location
        h3(class="phone") Phone
        h3(class="email") Email
        h3(class="web") Web
    div(class="table-row")
        p(class="location-description") Novosibirsk, Russia
        p(class="phone-description") +7 000 000 0000
        p(class="email-description") koc.melnikov.1985@gmail.com
        p(class="web-description") koc.melnikov.com