@font-face {
    font-family: 'icomoon';
    src:  url('./components/promo/fonts/icomoon.eot?ek5bud');
    src:  url('./components/promo/fonts/icomoon.eot?ek5bud#iefix') format('embedded-opentype'),
      url('./components/promo/fonts/icomoon.ttf?ek5bud') format('truetype'),
      url('./components/promo/fonts/icomoon.woff?ek5bud') format('woff'),
      url('./components/promo/fonts/icomoon.svg?ek5bud#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}