extends components/commons/base.pug

block header
    include components/header/header.pug
block promo
    include components/promo/promo.pug
block about
    include components/about/about.pug
block experience
    include components/experience/experience.pug
block works
    include components/works/works.pug