- var icons = ["icon-whatsapp", "icon-vk", "icon-skype", "icon-git"];
- var links = ["https://api.whatsapp.com/send?phone=79133886748", "https://vk.com/id323080133", "skype:melnikovkoc?chat", "https://github.com/M-kos"];


mixin socials(ind, val)
    a.social__elem(href= ""+ind)
        span(class= val)

.social
    each val, index in icons
        +socials(links[index], val)